*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --secondary-color: #1a1a1b;
    --font-family: Arial;
}
/* ****NAVBAR**** */

.logo-img{
    width: 50px;
} 
.logo{
    line-height: 6px;
}
.logo p{
    font-family:serif ;
}
/* ****HEADER**** */
.oxford-hero .hero-img {
  height: 350px;
  object-fit: cover;
}
.oxford-hero .hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.55);
}
/* *****SINLR-BLOG***** */
.blog-header {
      position: relative;
      height: 350px;
      overflow: hidden;
      border-bottom: 4px solid #1d3557;
    }

    .blog-header img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(70%);
    }

    .blog-header h1 {
      position: absolute;
      bottom: 20px;
      left: 30px;
      color: white;
      font-size: 3rem;
      font-weight: bold;
      text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
    }

    .news-style {
      background: white;
      padding: 40px;
      border: 1px solid #ddd;
      box-shadow: 0 4px 10px rgba(0,0,0,0.05);
      line-height: 1.9;
      font-size: 1.1rem;
    }

    .btn-custom {
      background: #1d3557;
      color: white;
      transition: 0.3s;
    }
    .btn-custom:hover {
      background: #457b9d;
      transform: scale(1.04);
    }
/* *****FOOTER***** */
.footer-section {
  background-color: var(--secondary-color);
}

footer .footer-logo {
  width: 70px;
}

footer .footer-title {
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
}

footer .footer-heading {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

footer .footer-list {
  list-style: none;
  padding: 0;
}

footer .footer-list li {
  margin-bottom: 8px;
}

footer .footer-list a {
  color: #dcdcdc;
}

footer .footer-list a:hover {
  color: #ffc107;
}

footer .social-links a {
  transition: 0.3s ease;
}

footer .social-links a:hover {
  color: #ffc107;
  transform: translateY(-3px);
}
