* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #f0f2f5;
}
/* ****NAVBAR**** */
.logo-img {
    width: 50px;
}

.logo {
    line-height: 6px;
}

.logo p {
    font-family: serif;
}

/* ****HEADER**** */
.oxford-hero .hero-img {
    height: 350px;
    object-fit: cover;
}

.oxford-hero .hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55);
}
/* *****CONTACT-FORM***** */
.contact-wrapper {
    max-width: 900px;
    margin: 60px auto;
    background: #fff;
    border-radius: 20px;
    padding: 40px 50px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}
.contact-title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
}
.form-control {
    padding: 12px 15px;
    border-radius: 12px;
    border: 1px solid #dcdcdc;
}
.form-control:focus {
    border-color: #ffa500;
    box-shadow: 0 0 0 0.2rem rgba(253, 157, 13, 0.15);
}
.btn-modern {
    transition: 0.3s;
}
.btn-modern:hover {
    background: #000;
    color: #ffa500;
}
/* *****FOOTER***** */
.footer-section {
  background-color: #1a1a1b;
}

footer .footer-logo {
  width: 70px;
}

footer .footer-title {
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
}

footer .footer-heading {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

footer .footer-list {
  list-style: none;
  padding: 0;
}

footer .footer-list li {
  margin-bottom: 8px;
}

footer .footer-list a {
  color: #dcdcdc;
}

footer .footer-list a:hover {
  color: #ffc107;
}

footer .social-links a {
  transition: 0.3s ease;
}

footer .social-links a:hover {
  color: #ffc107;
  transform: translateY(-3px);
}
