* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --secondary-color: #1a1a1b;
    --shadow: 0 2px 40px 8px rgba(15, 15, 15, .15);
    --transition: transform 0.3s ease, box-shadow 0.3s ease;
    --font-family: Arial;
}

body {
    color: #e0e0e0;
    font-family: "Segoe UI", sans-serif;
}

/* ****NAVBAR**** */

.logo-img {
    width: 50px;
}

.logo {
    line-height: 6px;
}

.logo p {
    font-family: serif;
}

.section-title {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    /* color: #ffb703; */
    text-align: center;
}

.hours-box {
    background-color: #1f1f1f;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.hours-box h4 {
    color: #ffb703;
}

.hours-box ul li {
    background-color: #2c2c2c;
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 10px 15px;
    list-style: none;
    transition: 0.3s;
}

.hours-box ul li:hover {
    background-color: #3a3a3a;
    transform: translateX(5px);
}

/* ****LOCATION**** */

iframe {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: 0;
}

@media (max-width: 768px) {
    .split {
        flex-direction: column;
    }

    .split>div {
        width: 100%;
    }

    iframe {
        height: 300px;
    }
}

/* *****FOOTER***** */
.footer-section {
  background-color: var(--secondary-color);
}

footer .footer-logo {
  width: 70px;
}

footer .footer-title {
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
}

footer .footer-heading {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

footer .footer-list {
  list-style: none;
  padding: 0;
}

footer .footer-list li {
  margin-bottom: 8px;
}

footer .footer-list a {
  color: #dcdcdc;
}

footer .footer-list a:hover {
  color: #ffc107;
}

footer .social-links a {
  transition: 0.3s ease;
}

footer .social-links a:hover {
  color: #ffc107;
  transform: translateY(-3px);
}
